.section-about {
   padding-bottom: 15rem;
}

.section-products {
   
}

.section-gallery {
   background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
      url(../img/kaitlyn-chow-325348-unsplash-min.jpg);
      background-size: cover;
      background-position: center; 
      background-blend-mode: screen;
      background-attachment: fixed;
      background-repeat: no-repeat; 
}

.section-contact {
   background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
   url(../img/daiga-ellaby-154935-unsplash-min.jpg);
   background-size: cover;
   background-position: center;
   clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
   background-blend-mode: screen; 
   padding-top: 10rem;
   padding-bottom: 10rem;

   @include respond(tab-port) {
         padding-top: 15rem;
         clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
   }

   @include respond(phone) {
      padding-top: 20rem;
      clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
   }
}