.contact {  
   padding: 3rem 5rem;
   width: 80%;
   margin: 0 auto;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: rgba(white, .8);
   border-radius: 5px;
   box-shadow: 1rem 2rem 4rem rgba(black, .6);
   flex-wrap: wrap;

   &__title {
      flex: 100%;
      padding-bottom: 2rem;
   }

   &__map {
      flex: 30%;
      width: 40rem;
      height: 40rem;
      border-radius: 10px;
      box-shadow: 1rem 2rem 4rem rgba($color-primary-text-dark, .3);     
      
      @include respond(tab-port) {
         margin-top: 3rem;
      }

      @include respond(phone) {
         flex: 100%;
         margin-top: 5rem;
      }
   }

   &__info {
      display: flex;
      flex-direction: column;
      flex: 40%;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      font-weight: 700;
      @include main-text-gradient;    

      &--mail {
         text-decoration: none;
         @include main-text-gradient;
      }

      @include respond(tab-port) {
         flex: 50%;
      }

      @include respond(phone) {
         flex: 100%;
         padding-bottom: 5rem;
      }
      
   }

   &__form {
      display: flex;
      flex-direction: column;
      flex: 30%;
      justify-content: center;
      align-items: center;
      position: relative;

      @include respond(tab-port) {
         flex: 50%;
      }

      @include respond(phone) {
         flex: 100%;
         display: inline-block;
         text-align: center;
         margin-bottom: 5rem;
      }

      &__btn {
         border: none;
         background-color: $color-primary-text-dark;
         width: 8rem;
         height: 4rem;
         border-radius: 15px;
         color: white;
         flex: 10%;
         position: absolute;
         bottom: -4rem;
         right: 53%;
         font-weight: 700;
         box-shadow: 0rem 2rem 4rem rgba($color-primary-text-dark, .6);
         transition: all .3s;
         outline: none;

         @include respond(phone) {
            right: 40%;
           
         }

         &:hover {
            transform: translateY(-6px);
         }
         &:active {
            transform: translateY(6px);
            box-shadow: 0rem 2rem 4rem rgba($color-primary-text-dark, .8);
         }
      }

      &__input {
         flex: 80%;
         width: 70%;      
         font-family: inherit;   
         line-height: 2.5rem;
         border: none;
         border-radius: 15px;
         box-shadow: 1rem 2rem 4rem rgba($color-primary-text-dark, .3);
         resize: none;
         outline: none;
         padding-left: 15px;
         backface-visibility: hidden;
         

         @include respond(phone) {
            width: 100%;
         }

         &:not(:last-child) {
            margin-bottom: 1.5rem;
         }
         &:focus {
            border: .3rem solid $color-primary-text-dark;     
         }
         &:focus ~ & {
            transform: translateY(-.6rem);
         }
      }


   }


}

