.gallery {  
  width: 90%;
  margin: 0 auto;
  position: relative;

  &__arrows {
    font-size: 10rem;
    position: absolute;
    top: 50%;
    z-index: 5;
    color: rgba(72, 46, 116, 0.8);
    transition: all .3s;
    cursor: pointer;
    &--right{
      transform: translate(120%, -50%);     
      right: 0;

      &:hover {
        transform: translate(130%, -50%);  
      }
      &:active {
        transform: translate(120%, -50%);
      }
    }
    &--left {
      transform: translate(-120%, -50%);
      left: 0;

      &:hover {
        transform: translate(-130%, -50%);
      
      &:active {
        transform: translate(-120%, -50%);
      }
      }
    }
  }


  &__element {
    margin: 5rem 2rem;
    transition: all .3s;
    cursor: pointer;
    border-radius: 5px;
    
    &:hover {
      box-shadow: 0 2rem 5rem rgba($color-primary-text-dark, 0.8);
      transform: translateY(-1rem);
    }

    &:active,
    &:focus {
      outline: none;
    }

    &--img{
      width: 100%;     
      box-shadow: 0 1.5rem 2rem rgba(black, 0.5);
    }
  }
}
